#recomendationContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

#bgPicture{
    width: 100vw;
    height: 50vw;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

#blackShape{
    position: absolute;
    width: 100vw;
    height: 50vw;
    top: 0vw;
    background-color: rgba(0, 0, 0, 0.6);
}

#recomendationContent{
    position: absolute;
    width: 100vw;
    height: 50vw;
    top: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recomendationTitle{
    margin: 6vw auto 4vw auto;
    color: var(--color-white);
}

#cardContainer{
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
}

.propertyCard{
    width: 25vw;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propertyImage{
    background-color: var(--color-white);
    width: 20vw;
    height: 20vw;
    border: solid 5px var(--color-white);
    border-radius: 20vw;
    margin: 2.5vw;
}