:root {
  --color-primary: #1C1E26;
  --color-accent-1: #45AEDD;
  --color-accent-2: #FF6B6B;
  --color-accent-3: #C2E812;
  --color-background: #FAFAFA;
  --color-neutral: #D9D9D9;
  --color-white: #ffffff;
  --color-black: #000000;
}

*{
    box-sizing: border-box;
    font-family: montserrat;
    margin: 0;
    padding: 0;
}

#ctaContainer{
    width: 100vw;
    height: 35vmax;
    display: flex;
    justify-content: space-between;
}

#ctaContent{
    width: 50vmax;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ctaContent h2, #ctaContent p{
    margin: .5vw 0;
    color: var(--color-primary);
}

#ctaBtn{
    margin: 2vw 0;
}

#registerBtn, #loginBtn {
    width: 10vw;
    height: 3vw;
    border: none;
    border-radius: 20px;
}

#registerBtn{
    margin-right: 2vw;
    background-color: var(--color-primary);
    color: var(--color-white);
}

#registerBtn:active{
    background-color: var(--color-neutral);
    color: var(--color-primary);
}

#loginBtn {
    margin: 0 2vw;
    background-color: var(--color-neutral);
    color: var(--color-primary);
}

#loginBtn:active{
    background-color: var(--color-primary);
    color: var(--color-white);
}

#ctaImage {
    width: 45vw;
    margin: 5vw;
}



#recomendationContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

#bgPicture{
    width: 100vw;
    height: 50vw;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

#blackShape{
    position: absolute;
    width: 100vw;
    height: 50vw;
    top: 0vw;
    background-color: rgba(0, 0, 0, 0.6);
}

#recomendationContent{
    position: absolute;
    width: 100vw;
    height: 50vw;
    top: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recomendationTitle{
    margin: 6vw auto 4vw auto;
    color: var(--color-white);
}

#cardContainer{
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
}

.propertyCard{
    width: 25vw;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propertyImage{
    background-color: var(--color-white);
    width: 20vw;
    height: 20vw;
    border: solid 5px var(--color-white);
    border-radius: 20vw;
    margin: 2.5vw;
}


#whyContainer{
    display: flex;
    justify-content: space-between;
    width: 100vmax;
    height: 35vmax;
}

#whyImageContainer{
    width: 50vw;
}

#whyImage{
    width: 40vw;
    margin: 5vw;
}

#whyText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    margin: 5vw;
}

#whyText h2{
    margin: 2vw 0;
    color: var(--color-primary);
}

#whyText p{
    color: var(--color-primary);
}

